body{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

h1{
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    margin: 10;
    padding: 0;

}

ul li{
    display: inline;
    margin-right: 10px;

}


a{
    text-decoration: none;
    color: green;

}

a:hover{
    color: orange;
}

.navigation{
    float: right;
}

#background{
    background-color: #eee;
    padding: 10px;
}

#ubermelon{
    padding: 10px;
    font-size: 36px;
    text-align: center;
    color: orange;

}

#subhead{
    text-align: center;

}

.image{
    text-align: center;
    margin-top: 50px;
}

.maintext{
    text-align: center;
    margin: 40px;
    width:auto;
}

.text{
    text-align: left;
    display: inline-block;
    margin: 40px;
}

.responsive{
  -webkit-column-count: 2;
  -webkit-column-gap: 3%; /* Saf3, Chrome*/
  -moz-column-count: 2;   
  -moz-column-gap: 3%; /* FF3.5+ */
  column-count: 2;        
  column-gap: 3%; /* Opera 11+*/

}